body {
  background-color: #92a8e1;
}

#titles-list {
  list-style: none;
  margin-bottom: 40px;
}

.title-list-item {
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  text-align: left;
}

@media (max-width: 660px) {
  .linkText {
    display: block-inline;
    margin: 10px 25px 10px 25px;
    font-family: helvetica;
  }

  #blog-header-title {
    color: grey ;
    font-family: arial;
    font-size: 30px;
    margin-bottom: 10%;
    text-align: center;
  }

  #header-title-text {
    color: grey ;
    font-family: arial;
    font-size: 30px;
    margin-bottom: 10%;
    text-align: center;
  }

  #Links {
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
    margin: auto;
    margin-top: 10%;
    padding: 10px 10px 30px 10px;
    text-align: center;
    width: 80%;
  }
}


@media (min-width: 660px) {
  .linkText {
    display: block-inline;
    margin: 10px 25px 10px 25px;
    font-family: helvetica;
  }

  #blog-header-title {
    color: grey ;
    font-family: arial;
    font-size: 50px;
    margin-bottom: 10%;
    margin-left: 5%;
    text-align: left;
  }

   #header-title-text {
      color: grey ;
      font-family: arial;
      font-size: 50px;
      margin-bottom: 10%;
      text-align: center;
    }

  #Links {
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
    margin: auto;
    margin-top: 10%;
    padding: 10px 10px 30px 10px;
    text-align: center;
    width: 50%;
  }
}

