<h1 id="blog-header-title">My Blog</h1>
<ul id="titles-list">
{{#each model as |posts|}}   
    <li class="title-list-item">{{#link-to "posts.view" posts}}{{posts.title}}{{/link-to}}</li>
{{/each}}
</ul>