<div id="Links">
  <h1 class="title-list-item">ScrabblePlusPlus</h1>
  <p class="project-description">
    It's the wonderful game of Scrabble but I've written it in C++. I chose to write this in my spare time. There's a lot of fun ways to improve it. For example, in the next iteration
    I would like it to communicate with a server, such that you could play with my scrabble engine over the web. 
    I'm also interested in writing a move-suggestor, and maybe from there writing an ai that the player can play against.
  </p>
  <h1 class="title-list-item">Protaskinate</h1>
  <p class="project-description">
     Protaskinate is part of a start-up me and my friend have been collaborating together on. Protaskinate is an Android App which uses the Google Calendar API.
     We wanted to improve our productivity by writing an application to handle our scheduling for us! You give it things you need to do, and Protaskinate tries 
     to decide where the best place to do your activities is, such that you have the most balanced work-life schedule throughout the week. 
  </p>
  <h1 class="title-list-item">Chess</h1>
  <p class="project-description">
     Chess was the final project of my class on Object Oriented Programming. The project taught principles like inheritance (Abstract Piece class versus Concrete 
     Pawn/Rook/Knight class). It was my first deep-dive into object-oriented programming and was one of my school projects that I'm most proud of.
  </p>
  <!--<p>{{!#link-to 'welcome'}} See about me{{!/link-to}}</p>-->
  {{outlet}}
</div>
