<div id="Links">
  <div>
    <h1 id="header-title-text">Cameron Fife</h1>
  </div>
  <a class="linkText" target="_blank" href="/assets/resume.pdf">Resume</a>
  <a class="linkText" target="_blank" href="https://www.github.com/keanedawg"> GitHub</a>
  <a class="linkText" target="_blank" href="https://www.linkedin.com/in/cameron-fife-82354b70/"> LinkedIn</a>
  <a class="linkText" target="_blank" href="https://stackoverflow.com/users/5645583"> StackOverflow</a>
</div>
<div id="footer">
</div>
{{outlet}}
