<div id="Links">
  <div>
    <h1 id="header-title-text">Cameron Fife</h1>
  </div>
  <a class="linkText" target="_blank" href="/assets/resume.pdf">Link</a>
  <a class="linkText" href="https://www.github.com/keanedawg"> GitHub</a>
  <a class="linkText" href="https://www.linkedin.com/in/cameron-fife-82354b70/"> LinkedIn</a>
  <span class="linkText">{{#link-to 'posts'}} Blog{{/link-to}}</span>
</div>
<div id="footer">
</div>
{{outlet}}
